/* Structure */

body {
    font-family: Arial;
    font-size: 17px;
    /* padding: 8px; */
}

.container{
    padding: 25px;
}
  
* {
    box-sizing: border-box;
}

h1{
    color: #050505;    
}

h2 {
    color: #1876f2;
    font-size: 20px;
}

.title-select {
    font-weight: 600;
    color: #65676b;
}

/* Selector */

.selector {
	position: relative;
}

.custom-select {
    position: relative;
    padding-top: 12px;
}

.custom-select select {
    background-color: #4267B2;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
    -webkit-appearance: button;
    appearance: button;
    cursor: pointer;
    outline: none;
}

.custom-select::before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.custom-select:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.custom-select select option {
    padding: 30px;
}

/* List Schedules */

ul {
    color: #1876f2;
    list-style-type: none;
    margin-left: -44px;
}

ul li {
    width: 500px;
    padding: 20px;
    background: #e7f3ff;
    border-radius: 3px;
    margin: 5px;
}

ul li:hover{
    cursor: pointer;
    /* border: 1px solid#65676b; */
    margin-left: 10px;
    transition: 0.5;
    opacity: 0.8;
}

/* Link */

a.luhn-link {
    font-size: 16px;
    padding: 0 16px;
    text-decoration: none;
}

a.luhn-link:hover {
    color: black;
    transition: 0.5;
}